
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 213.9 98.2% 51.2%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 90%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 215 27.9% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 213.9 98.2% 51.2%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 20.2% 65.1%;
    --input: 215 20.2% 65.1%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.8rem;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 210 40% 98% / 0.1;
    --sidebar-ring: 215 20.2% 65.1%;
  }

  .dark {
    --background: 0 0% 2%;
    --foreground: 0 0% 98%;
    --card: 0 0% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 2%;
    --popover-foreground: 0 0% 98%;
    --primary: 213.9 98.2% 61.2%;
    --primary-foreground: 210 20% 9%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 213.9 98.2% 61.2%;

    --sidebar-background: 0 0% 2%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 0 0% 2%;
    --sidebar-accent: 0 0% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 15%;
    --sidebar-ring: 213.9 98.2% 61.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply antialiased;
  }
  #root-container {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .card {
      @apply shadow-lg shadow-black/5 bg-card/60 backdrop-blur-xl;
  }
  .dark .card {
      @apply shadow-black/20;
  }

  .node {
    position: absolute;
    background-color: hsl(var(--primary));
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    left: var(--x);
    top: var(--y);
    animation: move var(--duration) var(--delay) infinite alternate ease-in-out;
    opacity: 0;
  }

  @keyframes move {
    from {
      transform: translate(-50vw, -50vh) scale(1);
      opacity: 0.7;
    }
    to {
      transform: translate(50vw, 50vh) scale(1.5);
      opacity: 0.3;
    }
  }

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

